In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import preprocessing
from sklearn import metrics


#plt.style.use('/media/navar/Dados/Navar/PYTHON Functions/latex_jupyter_navar.mplstyle')

In [2]:
filename = 'MIT-BIH__DS1_5classes__HOS.csv'
dataset_raw = pd.read_csv(filename);

In [3]:
dataset_raw.head()

   2  7  70    4949  1
0  2  7  80  5604.0  1
1  2  7  83  5527.0  1
2  2  7  81  5643.0  1
3  2  7  74  5429.0  1
4  2  7  69  4880.0  1

In [4]:
# Separate between features and targets:
X = dataset_raw.values[:,:-1]
y = dataset_raw.values[:,-1]

In [5]:
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

preprocess_pipe = Pipeline([
                            ('std_scaler', StandardScaler())
                            ])

X_train = preprocess_pipe.fit_transform(X)

In [6]:
from sklearn.externals import joblib

grid_search = joblib.load('grid_search__MLP.pkl')

In [7]:
mlpClf = grid_search.best_estimator_

In [30]:
from sklearn.model_selection import cross_validate

num_runs = 3

cv_results = pd.DataFrame([])

for i in range(0,num_runs):
    buffer = pd.DataFrame.from_dict(cross_validate(mlpClf, X_train, y, scoring=('accuracy'), cv=2))
    cv_results.append(buffer, ignore_index=True)

In [47]:
from sklearn.model_selection import cross_val_predict

numRuns = 2

for k in range(0,2):
    y_pred = cross_val_predict(mlpClf, X_train, y, cv=2)

In [34]:
u = pd.DataFrame.from_dict(buffer)

In [25]:
u.append(u, ignore_index=True)

   fit_time  score_time  test_score  train_score
0  0.897703    0.064609    0.906661     0.906653
1  1.222531    0.053951    0.905608     0.906621
2  0.897703    0.064609    0.906661     0.906653
3  1.222531    0.053951    0.905608     0.906621

In [29]:
u

   fit_time  score_time  test_score  train_score
0  0.897703    0.064609    0.906661     0.906653
1  1.222531    0.053951    0.905608     0.906621